@media only screen and (max-width:1024px) {
    .about-right-container img{
        width: 28rem;
    }
}
@media only screen and (max-width:600px) {
    .home h1{
        font-size: 3rem; 
    }
    #developer{
        font-size: 1rem;
    }
    .about-container{
        display: block;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
    .about-right-container img{
        width: 25rem;
    }
}
@media only screen and (max-width:450px){
    
    
}


@media only screen and (max-width:375px){
    #developer{
        display: none;
    }
   
}



@media only screen and (max-width:300px){
    
  
}